@model MvcContractorShareApplication.Models.Bug

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <h2>Have you found an issue?</h2>
    
    <h5>Please let us know all the details regarding the issue/bug you found</h5>
                    <div class="col-md-3">
		                <form role="form">
                    <fieldset>
        
        <div class="form-group">
             <!--  Hidden fields -->
                       @Html.HiddenFor(m => m.issuetab, new { @class = "form-control" })
                <label>Issue</label>
                 <br />
                @Html.TextAreaFor(model => model.comment, new {rows="3", cols="40"})
                <br />
       
           </div> 
        
        <input type="submit" value="Send" class="btn btn-primary btn-block btn-default">

                             </fieldset>
		                </form>
	                </div>
}

<br /> <br /> <br /> <br /> <br />
<br /> <br /> <br /> <br />
