@{
    ViewBag.Title = "Index";
}

    @Html.Partial("_NavBar")


@section featured {

 <div id="slide1" class="item">
                <img class="first-slide" src="images/handyman-services.jpg"  style="width:100%" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 style="font-family:verdana;font-size:41px">Do you need some help?</h1>
                        <p style="font-family:verdana;font-size:20px">The easiest way to find tradesmen to help you 
                            <br />
                            with any job at any time</p>
                        <p><a class="btn btn-lg btn-primary" href="/Home/RegisterMain" role="button">Sign up today</a></p>
                    </div>
                </div>

    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Connecting you to any professional service</h2>
          
                    <p class="lead">Any Service, Anywhere</p>
                    <br />

                     <p class="lead">plumbers, electricians, painters, carpenters, bathroom fitters, carpet fitters, architects...</p>

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

      <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="images/rsz_plumbericon.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="images/electricicon.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="images/carpentericon.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="images/paintericon2.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-10 -->
        </div>
        <br />
        <!-- /.container -->
    </section>

      <section id="howitworks" class="services bg-primary howitworks">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>How does it work?</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-edit fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>1. Post a job</strong>
                                </h4>
                                <p>Simply post a job for free, it can't be easier!
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-search fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>2. Find tradesmen</strong>
                                </h4>
                                <p>Tradesmen will provide you with some proposals, you can accept them, change the timings or
                                    you can simply look for tradesmen yourself, check when they are free and send them a proposal</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-thumbs-o-up fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>3. Job accepted</strong>
                                </h4>
                                <p>That's not all, when you job has been accepted is when the fun begins.
                                    You will be able to check the status of your job at all times, see when your tradesman is coming,
                                    when he is finishing and exchange pictures and comments about the job.
                                </p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-credit-card fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>4. Time to relax </strong>
                                </h4>
                                <p>Once the job is done and you are happy with it just click Pay and all done!
                                   Time to chill out at home
                                </p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

     <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Android App</h2>
                    <p class="lead">Download our  <a target="_blank" href="http://join.deathtothestockphoto.com/">Mobile App</a> and you will be able to manage your jobs using your phone</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/mobileapp.png" alt="">
                </div>
            </div>

        </div>
    

}
