@{
    ViewBag.Title = "Calendar";
}

    @Html.Partial("_NavBar")

@section featured {

<div class="jumbotron jumbotron-special-short">
        <div class="container" >
            <h2  id="testolga" style="font-family:Calibri; font-size:24px; font-weight:bold">Schedule</h2>
    </div>
    }
<div style="height:700px;width:900px;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>